* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(80, 70, 59);
}
a {
  text-decoration: none;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  visibility: hidden;
  height: 0;
}

.home-page {
  background-image: url("a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

aside {
  visibility: hidden;
}

main {
  background-color: rgba(241, 209, 197, 0.692);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  height: 70px;
  width: 80px;
  border: 1px solid rgba(128, 128, 128, 0.205);
  border-radius: 8px;
  animation: ic 1s alternate;
}
@keyframes ic {
  0% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
}

main h1 {
  font-size: 40px;
  padding-bottom: 20px;
  margin-top: 50px;
}
main a {
  color: rgb(97, 85, 73);
  margin-top: 90px;
  font-size: 28px;
  padding: 20px;
  /* background-color:rgb(241, 209, 197); */
  border-radius: 8px;
  box-shadow: inset 15px 15px 15px rgba(255, 255, 255, 0.192),
    inset -10px -10px 10px rgba(255, 255, 255, 0.205);
}

/* desktop */
@media screen and (min-width: 500px) {
  header {
    padding: 0 20px;
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.89);
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header img {
    background-color: rgba(241, 209, 197, 0.87);
  }
  header ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header ul li {
  }
  svg{
      margin-right: 30px;
      width: 30px;
      height: 30px;
  }
  .all {
    display: flex;
    flex-direction: row;
  }
  aside {
    visibility: visible;
    width: 40%;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.308);
  }
  main {
    width: 60%;
  }
  main img {
    visibility: hidden;
  }
  main h1 {
    margin: 0;
    padding-bottom: 50px;
  }
  main h2{
      font-size:28px ;
  }
  main a{
      text-align: center;
      background-color: rgba(255, 255, 255, 0.315);
      width: 100%;
      height: 70px;
      border-radius: 0;
  }
  main a:hover {
    font-weight: bolder;
  }
}
